<footer class="bg-white text-[#545454] py-12">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row items-center justify-center gap-12">
      <!-- Logo -->
      <div class="text-center">
        <img
          src="/bacapenergy-rectangle.jpeg"
          alt="Bacapenergy Logo"
          class="h-20 mx-auto mb-2"
        />
        <h3 class="font-semibold">BacapEnergy</h3>
      </div>

      <!-- Informaci칩n de contacto -->
      <div class="text-center">
        <h3 class="font-semibold mb-2">Direcci칩n</h3>
        <a
          href="https://www.google.com/maps/place/Z치rate,+Pcia.+de+Buenos+Aires"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-[#FEC52C] transition-colors"
        >
          <p>Z치rate, Pcia. BsAs.</p>
        </a>
      </div>
      <div class="text-center">
        <h3 class="font-semibold mb-2">Whatsapp</h3>
          <a
            href="https://wa.me/5491128262939"
            target="_blank"
            rel="noopener noreferrer"
          >
            +54 9 11 2826-2939
          </a>
      </div>

      <div class="text-center">
        <h3 class="font-semibold mb-2">Email</h3>
        <a
          href="mailto:bacapenergy@gmail.com"
          class="hover:text-[#FEC52C] transition-colors"
        >
           bacapenergy@gmail.com
        </a>
      </div>
    </div>
  </div>
</footer>
